* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: hkgrotesk-Bold;
}

/* class */
.top-7rem {
    margin-top: 7rem;
}

/* import the font family */
@font-face {
    font-family: hkgrotesk-Bold;
    src: url(../assets/font/HKGrotesk-Bold.otf);
}
@font-face {
    font-family: HKGrotesk-BoldItalic;
    src: url(../assets/font/HKGrotesk-BoldItalic.otf);
}
@font-face {
    font-family: hkgrotesk-Italic;
    src: url(../assets/font/HKGrotesk-Italic.otf);
}
@font-face {
    font-family: hkgrotesk-Regular;
    src: url(../assets/font/HKGrotesk-Regular.otf);
}
@font-face {
    font-family: hkgrotesk-SemiBold;
    src: url(../assets/font/HKGrotesk-SemiBold.otf);
}
@font-face {
    font-family: hkgrotesk-SemiBoldItalic;
    src: url(../assets/font/HKGrotesk-SemiBoldItalic.otf);
}
 
/* styling for navbar */
header .main-navbar__nav-web .nav-item {
    margin-right: 2rem !important;
}
header .main-navbar__nav-web li a {
    font-size: 16px !important;
    font-family: hkgrotesk-SemiBold;
    color: #183b56 !important;
}
header .main-navbar__nav-web li .dropdown-toggle::after {
    position: absolute;
    right: -10px;
    top: 45%;
}

header .main-navbar__nav-web .navbar-content-button {
    color: #1565d8;
    font-size: 16px;
    font-family: hkgrotesk-Bold;
    height: 45px;
    width: 125px;
    border: 2px solid #1565d8;
}
header .main-navbar__nav-web .navbar-content-button:hover {
    color: white !important;
    background-color: #1565d8 !important;
}

/* sttling for mobile menu */
header .main-navbar__nav-mobile {
    display: none;
    background-color: transparent !important;
    position: unset !important;
}
header .main-navbar__nav-mobile .toggle-open-button,
header .main-navbar__nav-mobile .toggle-close-button {
    border: none;
}
header .main-navbar__nav-mobile .toggle-open-button:focus,
header .main-navbar__nav-mobile .toggle-close-button:focus {
    border: none;
    box-shadow: none !important;
}

header .main-navbar__nav-mobile .nav-mobile__container {
    padding-left: 1rem;
    padding-right: 1rem;
}

header .main-navbar__nav-mobile .navbar-logo {
    visibility: hidden;
}
header .main-navbar__nav-mobile .navbar-nav {
    margin-top: 2rem;
}
header .main-navbar__nav-mobile .nav-item {
    margin-bottom: .5rem ;
}
header .main-navbar__nav-mobile .dropdown-toggle {
    position: relative !important;
    inset: 0;
}
header .main-navbar__nav-mobile .dropdown-toggle::after {
    position: absolute !important;
    top: 50% !important;
    right: 0 !important;
    width: 10px;
}

header .main-navbar__nav-mobile .navbar-content-button {
    margin-top: 1rem;
    width: 100%;
}
/* styling for header container */
    /* content */
.Header-section__container .title {
    font-family: hkgrotesk-Bold;
    font-size: 56px;
    color: #183b56;
}

.Header-section__container .text p {
    font-family: hkgrotesk-Regular;
    font-size: 18px;
    color: #5a7184;
}

.Header-section__container .buttons button:first-child {
    width: 243px;
    height: 57px;
    font-size: 18px;
    font-family: hkgrotesk-Bold;
}

.Header-section__container .buttons button:last-child {
    width: 160px;
    height: 57px;
    font-size: 18px;
    font-family: hkgrotesk-Bold;
}
    /* brands */
.Header-section__brands {
    margin-top: 7rem;
}
.Header-section__brands .image-box {
    margin: 0 4rem;
    width: 191px;
    height: 53px;
}
.Header-section__brands .image-box img {
    width: 100%;
}
    /* dots */
.Header-section__dot-image {
    margin-top: 7rem;
}
.Header-section__dot-image img {
    width: 100%;
}


/* styling for Collaboration section */
.Collaboration-section {
    margin-top: 7rem;
}
.Collaboration-section__container .content-box div {
    width: 400px;
}

    /* content */
.Collaboration-section__container .content-box h2{
    font-size: 36px;
    color: #183b56;
    font-family: hkgrotesk-Bold;
}

.Collaboration-section__container .content-box h6 {
    font-size: 14px;
    color: #5a7184;
    font-family: hkgrotesk-Semibold;
}

.Collaboration-section__container .content-box p {
    font-size: 18px;
    color: #5a7184;
    font-family: hkgrotesk-Regular;
}

.Collaboration-section__container .content-box button {
    height: 57px;
    width: 169px;
    font-size: 18px;
    font-family: hkgrotesk-Bold;
}

    /* image */
.Collaboration-section__container .image-box img {
    width: 700px;
}



/* styling for Sub-benefit section */
.Sub-benefit-section {
    margin-top: 3rem;
    width: 80% !important;
}

.Sub-benefit-section__card {
    width: 351px;
    height: 263px;
}

.Sub-benefit-section__card-content .card-subtitle{
    width: 46px;
    height: 46px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sub-benefit-section__card-content .card-subtitle img {
    width: 29px;
    height: 29px;
}

.Sub-benefit-section__card-content .card-title {
    font-size: 24px;
    color: #183b56;
    font-family: hkgrotesk-Semibold;
    margin-bottom: 1rem;
}

.Sub-benefit-section__card-content .card-text {
    width: 275px;
    font-size: 16px;
    color: #5a7184;
    font-family: hkgrotesk-Regular;
}


/* styling for section 4 */
.section-4-card {
    margin-top: 7rem;
    width: 85% !important;

}
    /* card image */
.section-4-card .card-box .card-box__image {
    height: 645px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-4-card .card-box .card-box__image img{
    width: 100%;
    margin: auto;
}
.section-4-card .card-box:first-child .card-box__image {
    background-color: #F8F9FA;
}
.section-4-card .card-box:last-child .card-box__image {
    background-color: #EFF2F3;
}

    /* card content */
.section-4-card .card-box .card-box__content {
    width: 546px;
    margin-top: 1rem;
}
.section-4-card .card-box .card-box__content .card-subtitle {
    color: #5a7184;
    font-size: 14px;
    font-family: hkgrotesk-Semibold;
    margin-bottom: 1rem;
}
.section-4-card .card-box .card-box__content .card-title {
    color: #183b56;
    font-size: 24px;
    font-family: hkgrotesk-Bold;
    margin-bottom: 1rem;
}
.section-4-card .card-box .card-box__content .card-text {
    color: #5a7184;
    font-size: 16px;
    font-family: hkgrotesk-Regular;
}


/* styling for testimonal section */
.testimonal-section {
    margin-top: 7rem !important;
    height: 550px;
    margin: auto;
    overflow: hidden;
}

.testimonal-section__slider-container {
    background-color: #183b56;
    height: 379px;
    overflow: visible !important;
    border-radius: 15px;
}
    /* image box */
.testimonal-section__slider-container .image-box {
    border-radius: 10rem;
    padding: 15px;
    border: solid px #ffffff;
    background-image: url(/assets/shape-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
    /* qoutes box */
.testimonal-section__slider-container .quote-box figcaption {
    color: white;
    font-size: 22px;
    font-family: hkgrotesk-Bold;
}
.testimonal-section__slider-container .quote-box figcaption span {
    font-size: 18px;
    opacity: .8;
    font-family: hkgrotesk-Regular;
    font-weight: normal;
}

.testimonal-section__slider-container .quote-box blockquote p {
    color: white;
    font-size: 28px;
    font-family: hkgrotesk-Semibold;
}

    /* buttons */
.testimonal-section__slider-buttons {
    position: absolute;
    width: 150px !important;
    bottom: 25%;
    left: 42%;
}
.testimonal-section__slider-buttons button {
    position: unset !important;
    background-color: white !important;
    width: 65px;
    height: 65px;
    opacity: 1 !important;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.testimonal-section__slider-buttons button:hover {
    transform: scale(1.1);
}
.testimonal-section__slider-buttons button:active {
    transform: scale(1);
}
.testimonal-section__slider-buttons .carousel-control-prev span img {
    transform: rotate(180deg);
}

    /* testimonal */
.testimonal-section__slider-indicators {
    height: 20px;
    right: 10% !important;
    top: 18% !important;
    left: auto !important;
    z-index: 2;
    padding: 0 !important;
    margin: 0 !important;
}
.testimonal-section__slider-indicators button {
    width: 9px !important;
    height: 8px !important;
    margin-left: 7px !important;
    border-radius: 50% !important;
    opacity: .2 !important;
    transform: scale(.9);
    transition: all .3s ease-in-out;
}
.testimonal-section__slider-indicators button.active {
    opacity: .9 !important;
    transform: scale(1);
}


/* styling for Integrated section */
.integrated-section {
    margin-top: 7rem;
    height: 338px;
    position: relative;
}

.integrated-section__container,
.integrated-section__items {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

    /* content */
.integrated-section .integrated-section__container .content {
    z-index: 1;
}
.integrated-section .integrated-section__container .content {
    width: 375px;
    text-align: center;
}
.integrated-section .integrated-section__container .content .sub-title {
    font-size: 14px;
    color: #5a7184;
    font-family: hkgrotesk-Semibold;
}
.integrated-section .integrated-section__container .content .title {
    font-size: 36px;
    color: #183b56;
    font-family: hkgrotesk-Bold;
}
.integrated-section .integrated-section__container .content a {
    font-size: 18px;
    color: #1565d8;
    font-family: hkgrotesk-Bold;
}
.integrated-section .integrated-section__container .content a span {
    margin-left: 1rem;
}

    /* bk logos */
.integrated-section .logo-item {
    width: 77px;
    height: 77px;
    border-radius: 50%;
}

.integrated-section .logo-item img {
    width: 100%;
    padding: 1.2rem;
}

        /* left logos */
    .item-l-1 {
        top: 0;
        left: 13%;
    }
    .item-l-2 {
        top: 50%;
        left: 0;
    }
    .item-l-3 {
        width: 65px !important;
        height: 65px !important;
        bottom: 0;
        left: 15%;
    }
    .item-l-4 {
        top: 0;
        left: 30%;
    }
    .item-l-5 {
        top: 50%;
        left: 20%;
    }

        /* right logos */
    .item-r-1 {
        top: 5%;
        right: 28%;
    }
    .item-r-2 {
        top: 85%;
        right: 23%;
    }
    .item-r-3 {
        width: 65px !important;
        height: 65px !important;
        top: 20%;
        right: 18%;
    }
    .item-r-4 {
        top: 50%;
        right: 12%;
    }
    .item-r-5 {
        top: -10px;
        right: 5%;
    }
    .item-r-6 {
        top: 82%;
        right: 0%;
    }


/* styling for pricing section */
.pricing-section {
    margin-top: 7rem;
    padding-top: 3rem;
    height: 950px;
}

    /* container */
        /* content */
.pricing-section__container-content .content-box .sub-title {
    font-size: 14px;
    font-family: hkgrotesk-Semibold;
    color: #5a7184;
}
.pricing-section__container-content .content-box .title {
    font-size: 36px;
    font-family: hkgrotesk-Bold;
    color: #183b56;
}
.pricing-section__container-content .content-box .text p {
    font-size: 18px;
    font-family: hkgrotesk-Regular;
    color: #5a7184;
    margin: 0;
}

        /* toggle button */
.pricing-section__container-content .toggle-button__content p {
    margin: 0;
    font-size: 18px;
    color: #5a7184;
    font-family: hkgrotesk-Semibold;
    font-weight: 300;
}

.pricing-section__container-content .toggle-button__content .left-text {
    position: relative;
    inset: 0;
}
.pricing-section__container-content .toggle-button__content .left-text::after {
    content: 'Save 10%';
    color: #faad13;
    position: absolute;
    font-size: 16px;
    top: -20px;
    left: 0;
    font-weight: 100;

}

.pricing-section__container-content .toggle-button__content .button {
    margin-left: 60px;
    margin-right: 20px;
}
.pricing-section__container-content .toggle-button__content .button input {
    width: 65px;
    height: 37px;
    transform: rotate(180deg);
    background-color: #faad13;
    border-color: #faad13;
    outline: chartreuse;
}
.pricing-section__container-content .toggle-button__content .button .form-check-input:checked {
    background-color: #faad13;
    border-color: #faad13;
    outline: hidden;
}
.pricing-section__container-content .toggle-button__content .button input:focus {
    box-shadow: 0 0 0;
} 



    /* cards list */
.pricing-section__container-card-list .card-content {
    margin-top: 1.5rem;
    width: 1006px;
    height: 113px;
}

.pricing-section__container-card-list .card-content p {
    margin: 0;
}

.pricing-section__container-card-list .card-content .card-content_column .title{
    font-size: 24px;
    font-family: hkgrotesk-Bold;
    color: #183b56;
}
.pricing-section__container-card-list .card-content .card-content_column .text,
.pricing-section__container-card-list .card-content .card-content_column .link {
    font-size: 16px;
    font-family: hkgrotesk-Regular;
    color: #5a7184;
}
.pricing-section__container-card-list .card-content .card-content_column .text {
    color: #5a7184;
}
.pricing-section__container-card-list .card-content .card-content_column .link {
    color: #1565d8;
}

.pricing-section__container-card-list .card-content .card-content_column button {
    width: 147px;
    height: 49px;
    background-color: #1565d8;
    font-family: hkgrotesk-Bold;
    font-size: 16px;    
}


/* styling for Benefit section */
.benefit-section {
    margin-top: 10rem;
    padding-top: 5rem;
    position: relative;
    inset: 0;
}
.benefit-section::after {
    position: absolute;
    inset: 0;
    content: '';
    height: 2px;
    background-color: #e3e7ed;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.01);
}
    /* content */
.benefit-section__container .benefit-content .sub-title {
    font-size: 14px;
    font-family: hkgrotesk-Semibold;
    color: #5a7184;
}
.benefit-section__container .benefit-content .title {
    font-size: 40px;
    font-family: hkgrotesk-Semibold;
    color: #183b56;
}
.benefit-section__container .benefit-content .text {
    font-size: 18px;
    font-family: hkgrotesk-Regular;
    color: #5a7184;
}

    /* cards */
.benefit-section__container .Card-content {
    text-align: center;
}
.benefit-section__container .Card-content .card {
    height: 381px !important;
    width: 346px !important;
    background-color: #eaf7f2;
    border: none;
}

.benefit-section__container .Card-content img {
    width: 40px !important;
}
.benefit-section__container .Card-content .card-body {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.benefit-section__container .Card-content .card-body .title {
    font-size: 28px;
    color: #183b56;
    font-family: hkgrotesk-Bold;
    margin-bottom: 1rem;
}
.benefit-section__container .Card-content .card-body .text {
    font-size: 16px;
    font-family: hkgrotesk-Regular;
    color: #5a7184;
}
.benefit-section__container .Card-content .card-button {
    width: 236px;
    height: 49px;
    font-size: 18px;
    font-weight: 400;
    font-family: hkgrotesk-Bold;
    border-radius: 15px;
    border-color: #36b37e;
    color: #36b37e;
    background-color: transparent;
} 

.benefit-section__container .Card-content .card:nth-child(2) .card-body{
    position: relative;
    inset: 0;
}
.benefit-section__container .Card-content .card:nth-child(2) .card-body::after {
    position: absolute;
    top: 50%;
    left: 85%;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #e3e7ed;
    transform: rotate(90deg);
    z-index: 100;
}

.card-active {
    background-color: #36b37e !important;
}

.card-active .card-body .title {
    color: white !important;
    
}
.card-active .card-body .text {
    color: #fafafb !important;
}
.card-active .card-button {
    border-color: white !important;
    color: #183b56 !important;
    background-color: white !important;   
}


/* styling for newsletter */
.newsletter-section {
    margin-top: 9rem;
}
    /* content */
.newsletter-section .newsletter-content h2 {
    color: #183b56;
    font-size: 28px;
    font-family: hkgrotesk-Bold;
    padding-bottom: .5rem;
}
.newsletter-section .newsletter-content p {
    font-size: 18px;
    color: #5a7184;
    font-family: hkgrotesk-Regular;
}

    /* form content */
.newsletter-section .newsletter-form input {
    width: 450px;
    height: 60px;
    font-size: 16px;
    font-family: hkgrotesk-Regular;
    color: #5a7184;
    border-color: #a5a5a570;
}
.newsletter-section .newsletter-form span {
    margin-left: -15px;
}

.newsletter-section .newsletter-form button {
    width: 150px;
    height: 60px;
    background-color: #183b56;
    border: none;
    font-size: 18px;
    font-family: hkgrotesk-Bold;
    color: white;
    transition: all .3s ease-in-out;
}
.newsletter-section .newsletter-form button:hover {
    transform: scale(1.1);
}


/* styling for footer */
.footer {
    margin: 5rem 0;
    padding-top: 5rem;
    position: relative;
    inset: 0;
}
.footer::after {
    position: absolute;
    inset: 0;
    content: '';
    height: 2px;
    background-color: #e3e7ed;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.01);
}


    /* footer main  */
.footer .footer-main {
    width: 90%;
}
        /* left content */
.footer .footer-main .left-content {
    width: 220px;
}
.footer .footer-main .left-content {
    width: 220px;
}
.footer .footer-main .left-content .logo {
    width: 91px;
}
.footer .footer-main .left-content .text {
    font-size: 16px;
    color: #5a7184;
    font-family: hkgrotesk-Regular;
}
.footer .footer-main .left-content a {
    width: 41px;
    height: 41px;
    background-color: #edeff1;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    margin-right: .5rem;
}
.footer .footer-main .left-content a img {
   width: 100%;
   padding: 10px;
}
        /* right content */
.footer .footer-main .right-content {
    flex: 1;
}

.footer .footer-main .right-content h3 {
    font-size: 20px;
    font-family: hkgrotesk-Bold;
    color: #183b56;
}

.footer .footer-main .right-content .column-list li {
    padding: 0;
    padding-top: 1rem;
    border: none;
}
.footer .footer-main .right-content .column-list li a {
    font-size: 18px;
    font-family: hkgrotesk-Regular;
    color: #183b56;
    text-decoration: none;
    opacity: .8;
    transition: all .3s ease-in-out;
}
.footer .footer-main .right-content .column-list li a:hover {
    opacity: 1;
}

    /* footer main  */
.footer-copyright {
    margin-top: 5rem;
    text-align: center;
}

.footer-copyright div {
    width: 57px;
    height: 57px;
    background-color: #1576d8;
    border-radius: 50%;
    margin-bottom: 1rem;
    padding: 15px;
}
.footer-copyright div img {
   width: 100%;
}

.footer-copyright p {
    font-size: 16px;
    color: #5a7184;
    font-family: hkgrotesk-Semibold;
}